.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;

  &__input-text {
    margin: 0.6rem 0.6rem 0.6rem 1rem;
    width: 14rem;
    border: solid 3px $aqua;
    padding: 0.4rem;
    border-radius: 2px;
    color: grey;
    ::placeholder {
      color: $aqua;
    }
    ::value {
      color: $aqua;
    }
  }
}
