.header {
  text-align: center;
  padding: 1.5rem 1.5rem 0;

  @media all and (min-width: 768px) {
    align-items: flex-end;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  &__logo {
    width: 40%;
    margin-bottom: 1rem;

    @media all and (min-width: 768px) {
      width: 300px;
      height: auto;
    }
  }
  &__title {
    font-size: 1.5rem;
    color: $purple;
    @media all and (min-width: 768px) {
      font-size: 42px;
      margin-right: 2rem;
    }
  }
}
