* {
  box-sizing: border-box;
  font-family: $font-main;
}

.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }

  @media all and (min-width: 768px) {
    justify-content: space-around;
  }

  &__user {
    cursor: pointer;
    list-style: none;
    margin: 1rem 1.4rem 0;
    padding: 1rem;
    width: 95%;
    line-height: 2rem;
    font-size: 1em;
    height: 8rem;
    border: 1px solid (127, 194, 241);
    background-color: $lightpurple;
    color: $dark-grey;
    border-radius: 1rem;
    text-decoration: none;
    @media all and (min-width: 768px) {
      width: 40%;
    }
    @media all and (min-width: 1024px) {
      width: 20%;
    }

    &--name {
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
    }
    &--website {
      text-decoration: none;
      color: $dark-grey;
      font-weight: bold;
    }
    &:hover {
      border: solid 0.15rem $button-color;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__errase--container {
    text-align: end;
  }
  &__errase--btn {
    color: rgb(80, 75, 75);
    padding-bottom: 5rem;
    cursor: pointer;
    transform: scale(1.5);

    &:hover {
      color: rgb(121, 144, 160);
    }
  }
  &__title {
    font-size: 1.3rem;
    color: $purple;
    margin: 1rem 0rem 0;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 30px;
      margin-right: 2rem;
      margin-left: 2rem;
      text-align: start;
    }
  }
  &__detail {
    list-style: none;
    margin: 1rem 1.4rem 5rem;
    padding: 1rem;
    width: 90%;
    line-height: 2rem;
    font-size: 1rem;
    height: 15rem;
    border: 1px solid (127, 194, 241);
    background-color: $lightpurple;
    color: $dark-grey;
    border-radius: 1rem;
    text-decoration: none;
    @media all and (min-width: 768px) {
      padding: 2rem;
      width: 40%;
      height: 16rem;
    }

    &--name {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: bold;
    }
    &--website {
      text-decoration: none;
      color: $dark-grey;
      font-weight: bold;
    }
  }
}
.icon {
  color: rgb(80, 75, 75);
  padding-top: 1rem;
  cursor: pointer;
  transform: scale(1.5);

  &:hover {
    color: rgb(121, 144, 160);
  }
}

.new-card {
  max-width: 600px;

  border-radius: 2px;

  &__title {
    padding: 3rem 0 1rem 0;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: rgb(99, 99, 99);
    border-bottom: 1px solid #eee;
  }

  &__container {
    color: rgb(99, 99, 99);
    margin: 0 2rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__option {
    position: relative;
    width: 100%;
    padding: 0.5em;
    @media only screen and (min-width: 600px) {
      &.col-5 {
        width: 50%;
      }
    }
  }

  &__input {
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    outline: none;
    display: block;
    padding: 1em;
    width: 100%;
    transition: all 0.3s;
    height: 2em;

    &:focus {
      border-color: rgb(99, 99, 99);
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  &__btn {
    margin-left: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    border: 2px solid rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      border-color: rgb(121, 144, 160);
      background-color: rgb(121, 144, 160);
    }
  }
  &__addbuton {
    margin-top: 0.5rem;

    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    border: 2px solid rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      border-color: rgb(121, 144, 160);
      background-color: rgb(121, 144, 160);
    }
  }
}
