$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$aqua: rgb(10, 209, 37);
$button-color: rgb(7, 183, 189);
$lightpurple: #d7cfe4;
$dark-grey: rgb(42, 41, 41);
$white: rgb(250, 250, 250);
$grey: rgb(121, 144, 160);
$purple: #341d5c;
